.header{
     background-color: blanchedalmond;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 20px;
     margin: 10px;
}
.btn{
  background-color: blue;
  width: fit-content;
  padding: 20px 40px;
  margin: 20px;
}
