*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  background-color: rgb(220, 50, 50);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav{
   background-color: rgba(26, 91, 160, 0.829);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}